.article-container{
  margin: 60px 0;

  @media (min-width: $three-seven-five){
    margin: 120px 0;
  }
}

.article{
  margin-top: 60px;

  &:first-child{
    margin-top: 0px;
  }

  a{
    display: block;
    text-decoration: none;
  }

  &__image{
    border-left: 20px solid;

    @media (max-width: $small-screen){
      margin-bottom: 20px;
    }
  }

  &__title{
    @include font-size(22);
    margin: 0;
    color: $dark-grey;
    line-height: 1.6;
  }

  &__text{
    color: $text;
    line-height: 1.6;

    @media (max-width: $three-seven-five){
      @include font-size(14);
    }
  }

  &__author{
    float: left;
    width: 50%;
  }

  &__source{
    float: right;
    width: 50%;
    text-align: right;
  }

  &__meta{
    color: $meta;

    @media (max-width: $three-seven-five){
      @include font-size(14);
    }
  }

  &__type{
    position: absolute;
    bottom: 24px;
    right: 0px;
    padding: 10px;

    @media (min-width: $small-screen){
      bottom: 4px;
    }
  }
}
