.issue{
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__container{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
  }

  &__title{
    @include font-size(160);
    color: $white;
    margin: 0;
    line-height: 120px;
  }

  &__date{
    @include font-size(22);
    margin: 15px;
    color: #333;
    font-weight: normal;
  }
}
